
/*Global Styles*/
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--primary-color);
    line-height: 1.6;
    padding: 20px;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    color: var(--background-color);
}
