/* Dropdown Styling */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu li {
    display: block;
    padding: 10px;
}

.dropdown-menu li a {
    color: white;
    text-decoration: none;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: var(--secondary-color);
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}
