@import 'variables.css';
@import 'global.css';
@import 'header.css';
@import 'footer.css';


/*Font Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Root*/
:root {
    --primary-color: #1B2A3F;
    --secondary-color: #A60F2B;
    --background-color: #FFFFFF;
    --accent-color: #B31023;
    --accent2-color: #243954;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Main Section Styles */
main {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
}

section#recipes {
    margin-bottom: 40px;
}

#recipes h2 {
    font-size: 2rem;
    color: var(--primary-color);
}


/*2 column logic*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left-column, .right-column {
    flex: 1;
    padding: 20px;
}

.left-column img {
    max-width: 100%;
    height: auto;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f4f4f4;
}

h2 {
    /*margin-bottom: 20px;**/
    font-size: 5rem;
    color: var(--secondary-color);
}

p {
    font-size: 16px;
    line-height: 1.5;
}


/*UI-UX*/
.button {
    background-color: var(--primary-color); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3em;
  }
  .button:hover{
    font-size: 4em;
    color: var(--accent-color);
  }