@import 'variables.css';
@import 'global.css';
@import 'header.css';
@import 'footer.css';


/*Font Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Root*/
:root {
    --primary-color: #1B2A3F;
    --secondary-color: #A60F2B;
    --background-color: #FFFFFF;
    --accent-color: #B31023;
    --accent2-color: #243954;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Main Section Styles */
main {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
}

section#recipes {
    margin-bottom: 40px;
}

#recipes h2 {
    font-size: 2rem;
    color: var(--primary-color);
}

