/*Font Roboto*/

@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Root*/
:root {
    --primary-color: #1B2A3F;
    --secondary-color: #A60F2B;
    --background-color: #FFFFFF;
    --accent-color: #B31023;
    --accent2-color: #243954;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}
.box {
    background-color: #3498db;
    color: white;
    padding: 20px;
    flex: 1 1 300px;
    text-align: center;
}
@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}

